*.o
.DS_Store
.*.swp
/env
/dl
/.config.old
/.toolchain_build_ver
/bin
/build_dir
/staging_dir
/tmp
/logs
/files
/overlay
/package/openwrt-packages
/*.patch
/llvm-bpf*
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
.ccache
.vscode*
