*.o
.DS_Store
.*.swp
/env
/dl
/.config.old
/.toolchain_build_ver
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds/dpdk_repo.index
/feeds/dpdk_repo.targetindex
/feeds/dpdk_repo.tmp
/feeds/luci.index
/feeds/luci.targetindex
/feeds/luci.tmp
/feeds/packages.index
/feeds/packages.targetindex
/feeds/packages.tmp
/feeds/routing.index
/feeds/routing.targetindex
/feeds/routing.tmp
/feeds/telephony.index
/feeds/telephony.targetindex
/feeds/telephony.tmp
/files
/overlay
/package/openwrt-packages
/*.patch
/llvm-bpf*
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
.ccache
.vscode*
